{% extends 'base.html' %}

{% block title %}
Добавить работника
{% endblock %}

{% block body %}

{% if user_role == None %}
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
    </ul>
</header>
{% elif user_role == "leader" %}
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/personal_account" class="nav-link">Личный кабинет</a></li>
        <li class="nav-item"><a href="/load_employees" class="nav-link">Загрузка табеля</a></li>
        <li class="nav-item"><a href="/employees" class="nav-link">Список работников</a></li>
    </ul>
</header>
<div class="container mt-5">
    <p align="right">Вы вошли как: {{ user }}</p>
    <h1>Добавление работника</h1>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Ф.И.О."><br>
        <input type="text" name="category" id="category" class="form-control" placeholder="Категория (Врач/СМП)"><br>
        <input type="number" name="work_days" id="work_days" class="form-control" placeholder="Отработанные дни"><br>
        <input type="number" step="0.01" name="wage_rate" id="wage_rate" class="form-control" placeholder="Ставка"><br>
        <input type="number" name="score" id="score" class="form-control" placeholder="Балл"><br>
        <input type="text" name="source" id="source" class="form-control" placeholder="Источник финансирования (ОМС/Бюджет)"><br>
        <input type="submit" class="btn btn-success" value="Добавить">
    </form>
</div>
{% endif %}
{% endblock %}